@keyframes heartbeat {
    0% {
        transform: scale(0.8);
    }
    20% {
        transform: scale(0.9);
    }
    45% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.1);
    }
    62% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

#heart-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 250px;
    /*border-top: 0.3px #2c2b2b solid;*/
    margin: 0 auto;
    padding: 7px;
    font-size: 15px;
}

.heart-rib{
    position: relative;
    width: 15px;
    transform: rotate(-45deg);
    margin-left: 12px;
}

.heart{
    background: crimson;
    height: 5px;
    width: 5px;
    position: relative;
    animation: heartbeat 2s cubic-bezier(0.86,0,0.75,1) 1s infinite forwards normal;

}
.heart::after{
    content: "";
    width: 5px;
    height: 5px;
    background: crimson;
    position: absolute;
    left: 2.5px;
    border-radius: 50%;
}
.heart::before{
    content: "";
    width: 5px;
    height: 5px;
    background: crimson;
    position: absolute;
    top: -2.5px;
    border-radius: 50%;
}

#name-lnk{
    text-decoration: none;
    color: grey;
    margin-left: 2.5px;
}
#name-lnk:hover{
    background: grey;
    color: white;
    padding: 1px 0px 0px 2px;
    border-right: grey 7px solid;
    font-family: 'TravelingTypewriter', monospace;
    font-size: 10px;
}