@keyframes heartbeat {
    0% {
        -o-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    20% {
        -o-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    45% {
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    55% {
        -o-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    62% {
        -o-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    100% {
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#heart-message{
    margin: 0 auto;
    padding: 7px;
    font-size: 15px;
    font-family: 'TravelingTypewriter', monospace;
    word-spacing: 1.5pt;
    text-align: center;
}

.heart-rib{
    display: inline-block;
    position: relative;
    -o-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.heart{
    display: inline-block;
    background: hsl(146, 43%, 44%);
    height: 10px;
    width: 10px;
    position: relative;
    margin: 2.5pt 2.5pt 0 2.5pt;
    border-radius: 3px;
    animation: heartbeat 5s cubic-bezier(0.86,0,0.75,1) 3s infinite forwards normal;

}
.heart::after{
    content: "";
    width: 10px;
    height: 10px;
    background: hsl(146, 43%, 44%);
    position: absolute;
    left: -3.5px;
    border-radius: 50%;
}
.heart::before{
    content: "";
    width: 10px;
    height: 10px;
    background: hsl(146, 43%, 44%);
    position: absolute;
    right: 0px;
    bottom: -3.5px;
    border-radius: 50%;
}

#name-lnk{
    text-decoration: none;
    color: grey;
    font-weight: bolder;
    padding: 0 3px;
    border-right: 1.5px solid transparent;
    border-left: 1.5px solid transparent;
}
#name-lnk:hover{
    color: hsl(146, 43%, 44%);
    border-right: 1.5px solid grey;
    border-left: 1.5px solid grey;
}