<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./404.css">
    <link rel="script" href="../../jquery/dist/jquery.min.js">
    <link rel="script" href="./404.js">
    <title>Oddity it is.</title>
</head>
<body>
    <div id="container">
        <div id="oddity-404-message">
            <h3>Looks like the <br> spaceship doesn't <br> know where to go, afterall . . .</h3>
        </div>
        <div id="oddity-home-link">
            <span>
                Take me to <a href="#" id="home-link">Ground Control</a>
            </span>
        </div>
    </div>
    <svg width="300" height="500">
        <polyline points="20,20 40,50 60,55 70,49 50,45 30,40 25,30 22,25 20,20" style="fill:none;stroke:black;stroke-width:3;" />
    </svg>
</body>
</html>