{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
<body>
{% block header %}
    {{ super() }}
{% endblock %}

{% block container %}
    {% if directions %}
    <div class="container_json">
        {{ directions }}
    </div>
    {% else %}
    <div class="container_form">
        <form action="{{ url_for('index') }}" method="post" class="mapform">
            <label for="start-point">Start</label>
            <input type="text" name="start-point" placeholder="START"><br>
            <label for="start-point">Destination</label>
            <input type="text" name="destination" placeholder="DESTINATION"><br>
            <input type="submit">
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block footer %}
 {{ super() }}
{% endblock %}