{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block container %}
    {{ super() }}
    <div id="map-container">
    {% if directions == ['No directions fetched'] %}
        <span>
            {{ directions[0] }}
        </span>
    {% elif directions %}
        <iframe src="/route" class="route-map" width="100%" height="100%" loading="lazy"></iframe>
    {% endif %}
    </div>
{% endblock %}

{% block footer %}
 {{ super() }}
{% endblock %}