<!DOCTYPE html>
<html>
    <head>
        <title>RoadBuddy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        {% block head %}
        {% endblock %}
    </head>
<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    {% if directions %}
    {{ directions }}
    {% else %}
    <form action="{{ url_for('index') }}" method="post" id="mapform">
        <input type="text" name="start-point" placeholder="START"><br>
        <input type="text" name="destination" placeholder="DESTINATION"><br>
        <input type="submit">
    </form>
    {% endif %}

    <footer>
        {% block footer %}
        
        {% endblock %}
    </footer>
</body>
</html>